<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ch.yannishuber.restic-backup</string>
    
    <key>Program</key>
    <string>/users/yannis/scripts/restic-backup.sh</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>600</integer>
    
    <key>WorkingDirectory</key>
    <string>/users/yannis/scripts/</string>
    
    <key>StandardOutPath</key>
    <string>/users/yannis/Library/Logs/ch.yannishuber.restic-backup.out.log</string>

    <key>StandardErrorPath</key>
    <string>/users/yannis/Library/Logs/ch.yannishuber.restic-backup.error.log</string>
</dict>
</plist>
